@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
*{
	font-family: 'Open Sans', sans-serif;
	img{
		max-width: 100%;
	}
	a{
		text-decoration: none;
	}
}
.header{
	padding-top: 64px;
	position: relative;
	background: url('../images/background.png');
	background-size: auto;
}
.logo{
	position: absolute;
	right:64px;
	top:64px;
}
.menu{
	color:#fff;
	margin-bottom: 575px;
	ul{
		list-style: none;
	}
	li{
		padding: 10px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		display:inline-block;
		margin-right: 45px;
		border-bottom: 2px solid transparent;
	}
	li:hover{
		border-bottom: 2px solid #f26522;
	}
	a{
		color:#fff;
		display:block;
		border-bottom: 2px solid transparent;
		@include breakpoint(phablet){
			display: inline-block;
			width: auto;
		}
	}
}


.form{
	padding: 60px 60px 80px 60px;
	background-color: #323339;
	text-align: center;
	input{
		display: inline-block;
		height: 60px;
		padding-left: 30px;
		margin: 10px;
		width: 100%;
		max-width: 195px;
		border-radius: 3px;
		&:nth-child(4n){
			max-width: 295px;
		}
	}
	button{
		height: 60px;
		padding: 0 50px;
		border: 2px solid white;
		background-color:#323339;
		color: white;
		font-size: 15px;
		margin: 20px;
		&:hover{
			background-color: #f26522;
		}
	}
	&__title{
		font-size: 35px;
		color: white;
		margin-bottom: 40px;
	}
}
.footer{
	background-color: #323339;
	padding: 75px 0 240px 0;
	text-align: center;
	font-size: 12px;
	ul{
		text-decoration: none;
		list-style: none;
		vertical-align: text-top;
		margin-bottom: 50px;
		li{
			margin-bottom: 15px;
			a{
				color: white;
			}
			&:first-child{
				margin-bottom: 25px;
				a{
					color: #bf5828;
				}
			}
		}
	}
	@include breakpoint(phablet){
		ul{
			display: inline-block;
			margin-right: 100px;
			margin-bottom: 40px;
		}
	}
	&__rights{
		color: #494a56;
		margin-top: 65px;
	}
}
.lower-block{
	position: relative;
	top: -135px;
}
.block{
	color:#000;
	background: #fff;
	padding:80px 30px 20px 40px;
	&__title{
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 35px;
		font-family: 'Raleway', sans-serif;
		margin-bottom: 35px;
	}
	&__text{
		font-size: 14px;
		// background: #fff;
		font-family: 'Open Sans', sans-serif;
	}
	p{
		margin-bottom: 45px;
	}
	&_orange{
		height: 740px;
		background: #f26522;
		color: #fff;
		// background: none;
		padding: 65px 45px;
	}
}
.header-info{
	position: relative;
	right: 0;
	bottom: 388;
}

