@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
*{
	font-family: 'Open Sans', sans-serif;
	img{
		max-width: 100%;
	}
	a{
		text-decoration: none;
	}
}
.header{
	padding-top: 64px;
	position: relative;
	background: url('/images/background.png');
	background-size: auto;
	padding-bottom: 400px;
	// background-repeat: no-repeat;
}
.logo{
	position: absolute;
	right:64px;
	top:64px;
}
.menu{
	color:#fff;
	margin-bottom: 75px;
	ul{
		list-style: none;
	}
	li{
		padding: 10px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		display:inline-block;
		margin-right: 45px;
		border-bottom: 2px solid transparent;
	}
	li:hover{
		border-bottom: 2px solid #f26522;
	}
	a{
		color:#fff;
		display:block;
		border-bottom: 2px solid transparent;
		@include breakpoint(phablet){
			display: inline-block;
			width: auto;
		}
	}
}


form{
	// position: absolute;
	display: block;
	margin: 0 -10px;
	padding: 20px 10px;
	background-color: #323339;
	text-align: center;
	@include breakpoint(tablet){
		padding: 60px;
		margin: 0;
	}
	input{
		display:inline-block;
		height: 60px;
		padding-left: 30px;
		margin: 5px 0;
		width: 100%;
		border-radius: 3px;
		outline:none;
		@include breakpoint(phablet){
			height: 60px;
			max-width: 155px;
			margin: 10px;
			&:nth-child(4n){
				max-width: 255px;
			}
		}
	}
	button{
		height: 60px;
		padding: 0 50px;
		border: 2px solid white;
		background-color:#323339;
		color: white;
		font-size: 15px;
		margin-top: 20px;
		&:hover{
			background-color: #f26522;
		}
	}
	.form__title{
		font-size: 35px;
		color: white;
		margin-bottom: 40px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		@include breakpoint(tablet){
			text-align: left;
		}
	}
}
.footer{
	background-color: #323339;
	padding: 75px 0 240px 0;
	text-align: center;
	font-size: 12px;
	ul{
		text-decoration: none;
		list-style: none;
		vertical-align: text-top;
		margin-bottom: 50px;
		li{
			margin-bottom: 15px;
			a{
				color: white;
			}
			&:first-child{
				margin-bottom: 25px;
				a{
					color: #bf5828;
				}
			}
		}
	}
	@include breakpoint(phablet){
		ul{
			display: inline-block;
			margin-right: 100px;
			margin-bottom: 40px;
		}
	}
	&__rights{
		color: #494a56;
		margin-top: 65px;
	}
}
.lower-block{
	margin: 0 -10px;
	position: relative;
	@include breakpoint(tablet){
		top: -265px;
		margin-bottom: -265px;
	}
}
.block{
	color:#000;
	// display: inline-block;
	background: none;
	padding: 10px;
	@include breakpoint(tablet){
		padding:80px 30px 20px 40px;
	}
	&__title{
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 35px;
		font-family: 'Raleway', sans-serif;
		margin-bottom: 35px;
		&_col{
			@include breakpoint(tablet){
				margin: 35px -10px -75px;
			}
		}
	}
	&__text{
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 45px;
		color: #83969f;
		font-family: 'Montserrat', sans-serif;
	}
	i{
		color:#cfcfcf;
		text-decoration: underline;
		font-size: 12px;
	}
	&_header{
		padding: 0px;
		color:#fff;
		@include breakpoint(tablet){
			transform: translateY(130px);
		}
	}
	&_orange{
		background: #f26522;
		color: #fff;
		padding: 65px 45px;
			@include breakpoint(tablet){
				height: 770px;
				}
		&_section02{
			position: relative;
			padding: 65px 45px;
			background: #f26522;
			color: #fff;
				@include breakpoint(tablet){
					padding-bottom: 20px;
					}
			p{
				margin-bottom: 45px;
				color: #fff;
			}
		}

		p{
			margin-bottom: 45px;
			color: #fff;
		}
	}
}
.header-info{
	position: relative;
	right: 0;
	bottom: 388;
	margin-bottom: -360px;
	overflow: hidden;
}
.header-pic{
	margin-bottom: 35px;
	@include breakpoint(tablet){
		margin-bottom: 0px;
	}
}
.news{
	margin-top: -100px;
	margin-bottom: 80px;
}
.section02{
	overflow: hidden;
	position: relative;
	background:#f26522;
	text-align: center;
	@include breakpoint(tablet){
		background: none;
	}
}
.translate{
	@include breakpoint(tablet){
		transform: translateX(-45px);
	}
}
.margin-minus{
	@include breakpoint(tablet){
		margin: 0 -10px;
	}
}
.buttons{
	img{
		margin: 10px;
	}
}
.wrapper_test{
	position: relative;
}
