html
	head
		include ./parts/head.pug
	body
		.header
			.logo
				img(src='/images/logo.png',alt="logo")
			.wrapper
				.menu
					ul
						a(href="#")
							li About
						a(href="#")
							li Products
						a(href="#")
							li Projects
						a(href="#")
							li Contacts
				.text
					|cxvxvcxvx
			.header-info
				.col-tablet-1-4
					.buttons
				.col-tablet-3-4
					.col-tablet-1-3
						.block.block_orange
							.block__title
								|Bright ass orange
							.block__text
								p
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								p
									|Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					.col-tablet-2-3
						img(src="images/sunset.png",alt="picture")
						.block
							.block__title
								|Finaly a layout that blows your head off
							.block__text
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					
