html
	head
		include ./parts/head.pug
	body
		.header
			.logo
				img(src='/images/logo.png')
			.wrapper
				.menu
					ul
						a(href="#")
							li About
						a(href="#")
							li Products
						a(href="#")
							li Projects
						a(href="#")
							li Contacts
				.block
					|Some text
